<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>The user Id: <%= id %> </h1>
    <% if (user) { %>
        <h2><%= user.id %></h2>
        <h2><%= user.name %></h2>
        <h2><%= user.member %></h2>
        <h2><%= user.date %></h2>
        <h2><%= user.time %></h2>
      <% } %>
    <h1>The user Id: <%= id2 %> </h1>
    <% if (user2) { %>
        <h2><%= user2.id2 %></h2>
        <h2><%= user2.name %></h2>
        <h2><%= user2.member %></h2>
        <h2><%= user2.date %></h2>
        <h2><%= user2.time %></h2>
      <% } %>
    <h1>The user Id: <%= id3 %> </h1>
    <% if (user3) { %>
        <h2><%= user3.id3 %></h2>
        <h2><%= user3.name %></h2>
        <h2><%= user3.member %></h2>
        <h2><%= user3.date %></h2>
        <h2><%= user3.time %></h2>
      <% } %>
    <h1>The user Id: <%= id4 %> </h1>
    <% if (user4) { %>
        <h2><%= user4.id4 %></h2>
        <h2><%= user4.name %></h2>
        <h2><%= user4.member %></h2>
        <h2><%= user4.date %></h2>
        <h2><%= user4.time %></h2>
      <% } %>
    <h1>The user Id: <%= id5 %> </h1>
    <% if (user5) { %>
        <h2><%= user5.id5 %></h2>
        <h2><%= user5.name %></h2>
        <h2><%= user5.member %></h2>
        <h2><%= user5.date %></h2>
        <h2><%= user5.time %></h2>
      <% } %>
</body>
</html>